COMMON_FLAGS=%COMMON_FLAGS%
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"

LC_MESSAGES=C.utf8

VIDEO_CARDS=%VIDEO_CARDS%
INPUT_DEVICES=%INPUT_DEVICES%
USE=%GLOBAL_USE%
